# Date 27 Sept Lab 6

### WAP in Pyhon to use various inbuild funcions of list

In [6]:
# Initialize a list
my_list = [10, 20, 30, 40, 50]

# Append an item to the list
my_list.append(60)
print("After append:", my_list)

# Extend the list with another list
my_list.extend([70, 80, 90])
print("After extend:", my_list)

# Insert an item at a specific position
my_list.insert(0, 5)
print("After insert:", my_list)

# Remove an item by value
my_list.remove(30)
print("After remove:", my_list)

# Pop an item (remove and return the last item)
popped_item = my_list.pop()
print("Popped item:", popped_item)
print("After pop:", my_list)

# Sort the list
my_list.sort()
print("After sort:", my_list)

# Reverse the list
my_list.reverse()
print("After reverse:", my_list)

# Find the index of an item
index_of_40 = my_list.index(40)
print("Index of 40:", index_of_40)

# Count the occurrences of an item
count_of_50 = my_list.count(50)
print("Count of 50:", count_of_50)

# Final state of the list
print("Final list:", my_list)

After append: [10, 20, 30, 40, 50, 60]
After extend: [10, 20, 30, 40, 50, 60, 70, 80, 90]
After insert: [5, 10, 20, 30, 40, 50, 60, 70, 80, 90]
After remove: [5, 10, 20, 40, 50, 60, 70, 80, 90]
Popped item: 90
After pop: [5, 10, 20, 40, 50, 60, 70, 80]
After sort: [5, 10, 20, 40, 50, 60, 70, 80]
After reverse: [80, 70, 60, 50, 40, 20, 10, 5]
Index of 40: 4
Count of 50: 1
Final list: [80, 70, 60, 50, 40, 20, 10, 5]

### WAP in python to pass the list as an argument in the Function

In [10]:
def list_operations(input_list):
    # Calculate the sum of the list
    total_sum = sum(input_list)
    print("Sum of the list:", total_sum)

    # Find the maximum value
    max_value = max(input_list)
    print("Maximum value in the list:", max_value)

    # Find the minimum value
    min_value = min(input_list)
    print("Minimum value in the list:", min_value)

    # Count the number of elements in the list
    count = len(input_list)
    print("Number of elements in the list:", count)

    # Check if the list is empty
    if input_list:
        print("The list is not empty.")
    else:
        print("The list is empty.")

# Example list
my_list = [10, 20, 30, 40, 50]

# Call the function with the list as an argument
list_operations(my_list)

Sum of the list: 150
Maximum value in the list: 50
Minimum value in the list: 10
Number of elements in the list: 5
The list is not empty.

### Wap to take in variable length arguments in function and perform cube of each element

In [6]:
def cube_of_elements(*args):
    cubes = [x ** 3 for x in args]
    return cubes

user_input = input("Enter numbers separated by spaces: ")
numbers = map(int, user_input.split())

result = cube_of_elements(*numbers)
print(result)

Enter numbers separated by spaces:  5 6 4

[125, 216, 64]

### WAP for solving the tower of Hanoi problem for n=3 ?

In [9]:
def tower_of_hanoi(n, source, target, auxiliary):
    if n == 1:
        print(f"Move disk 1 from {source} to {target}")
        return
    tower_of_hanoi(n - 1, source, auxiliary, target)
    print(f"Move disk {n} from {source} to {target}")
    tower_of_hanoi(n - 1, auxiliary, target, source)

n = 3
tower_of_hanoi(n, 'A', 'C', 'B')

Move disk 1 from A to C
Move disk 2 from A to B
Move disk 1 from C to B
Move disk 3 from A to C
Move disk 1 from B to A
Move disk 2 from B to C
Move disk 1 from A to C

### WAP that accepts string and calculate the number of uppercase and lowercase letters in string ?

In [13]:
def count_case(s):
    upper_count = 0
    lower_count = 0
    
    for char in s:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
            
    return upper_count, lower_count

input_string = input("Enter a string: ")
upper, lower = count_case(input_string)

print(f"Number of uppercase letters: {upper}")
print(f"Number of lowercase letters: {lower}")

Enter a string:  HEllio

Number of uppercase letters: 2
Number of lowercase letters: 4